<head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/ce19237d22.js" crossorigin="anonymous"></script>

        <style>
        mark {
  background: yellow;

}</style>

<script>
        function goBack() {
          window.history.back();
        }
        </script>
       
</head>


<body>
        <button onclick="goBack()">Back to HOMEPAGE</button>

        {% for item in name %}
        <div style="float: left;">
    
        <img src="{{name[item]['url']}}" style="width: 50%;
        height: 30%;">
        </div>
        
        <p class="desc">{{name[item]['description']}}</p>
        <p>TF-IDF:{{name[item]['tfidf']}}</p>
        <table class="table">
            <tr>
                    
                    <th scope="col">Query term</th>
                    <th scope="col">tf</th>
                    <th scope="col">idf</th>
                    <th scope="col">tf*idf</th>
            </tr>
            
        {% for val in name[item]['Query'] %}
        <tr>
                <th scope="row">{{val}}</th>
          
            <td>{{name[item]['Query'][val][0]}}</td>  
            <td>{{name[item]['Query'][val][1]}}</td>  
            <td>{{name[item]['Query'][val][2]}}</td>    
        </tr>
   
    {% endfor %}
</table>
<br>
<br>
    {% endfor %}

    <script>

            window.onload = function() {
                val = document.getElementsByClassName("desc")
                for (var i=0;i < val.length; i++) {
                    document.getElementsByClassName("desc")[i].innerHTML = $.parseHTML(document.getElementsByClassName("desc")[i].innerHTML)[0].data;
}
            }
              
            </script>
</body>